.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 5em;

  .btn-green {
    background-color: #8bc34a;
    max-height: 40px;
    align-self: center;
  }

  .btn-danger {
    background-color: #FF474C;
    max-height: 40px;
    align-self: center;
  }

  .plant-form {
    margin: 0 25% 3em 25%;
    background-color: #f9f8eb;
    padding: 1em 2em 2em 2em;

    label {
      width: 100%;
      display: block;
      margin-bottom: 0.25em;
    }

    input {
      width: 100%;
      display: block;
      margin-bottom: 1em;
      height: 40px;
    }
  }

  .plant-info {

    .plant-details {
      span {
        display: block;
        margin: 1em 0;

        label {
          display:block;
          font-weight: bold;
        }
      }
    }

    .line {
      padding: 1rem;
    }

    .update-form {
      span {
        display: block;
        margin: 1em 0;

        label {
          display: inline-block;
          font-weight: bold;
          margin-right: 1em;
        }
      }
    }

  }
}